<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<h1 align="center" style="color:Tomato">My example of how my playbook works</h1>
        <h2 align="center" style="color:black">This is a domain server {{ my_vhosts }}</h2>
            <p align="center" style="color:black">This page is used to test the proper functioning of the <strong>Nginx</strong> HTTP Server after it is set up. If you can read this page, it means that the web server installed on this page is working properly.</p>
</html>
